<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style-carrito.css">
 
    <title>Carrito</title>
</head>
<body>
</head>
<body>
    <header class="mainHeader">
       
        <div class="logo">
            <img src="img/Fashion_Logo.png" alt="">
        </div>
        
        <nav>

          <div class="listaMenu">
                <ul>
                    <li>New In</li>
                    <li>Colecciones</li>
                    <li>Lifestyle</li>
                    <li>Sale</li>
                </ul>
          </div>

          
          <div class="iconosHeader">

            <div class="busqueda">
                <div class="form">
                    <form action="#" method="post">
                          <label for="busqueda" ></label>
                          <input type="text" name="busqueda" id="Busqueda" placeholder="Buscar">
                </div>   
                
                <div class="submit"><i class="fa fa-search"></i></div>                
            </div>
 
            <div class="accesoUsuario">
                <i class="fas fa-user"></i>
            </div>

            <div class="accesoCarrito">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <div class="menuHamburgesa">
                <i class="fas fa-bars"></i>
            </div>

          </div>  

        </nav>
        
    </header>

    <main> 
        <section class="compra">
        
        <div class="detalle">

            <h1 class="tituloCarrito"><b>Mi Carrito</b></h1> <br>
            <nav class="listaMicarrito">

                <div class="listaCarrito">
                      <ul>
                          <li>Producto</li>
                          <li>Precio</li>
                          <li>Cantidad</li>
                          <li>Subtotal</li>
                      </ul>
                </div>
            </nav>

            <div class="imagenCarrito">
            <img src="img/anillo_relacionado.jpg" class="anilloCarrito">
            <ul class="carritoEspe">
                <li> $48.000</li>
                <li> 1</li>
                <li> $48.000</li>
            </div>
            </ul>
            <br>
            <h3 class="seguirComprando"><i class="fas fa-chevron-circle-left"></i> Seguir Comprando</h3>


        </div>


        </div>

        <div class="resumen">
            <h1 class="resumenTitulo">Resumen</h1> <br> <br>
            <!-- <hr class="resumen1"> -->
            <h4><i class="fas fa-percentage"></i> ¿Tienes un descuento?</h4> <br>
            <!-- <hr class="resumen2">  -->
            <h4> <i class="fas fa-gift"> </i> ¿Tienes una Gifcard?</h4> <br> <br><br>

            <h4>SUBTOTAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp$48.000</h4>
            <br>
            <h4>TOTAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$48.000</h4>
                <br>

                <p class="comprar">COMPRAR</p>


 




        </div>


        </section>

    </main>
  
</body>
</html>