<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %> 
 
<body>

    <%- include('partials/header') %>
    
    <section class="carritoDeCompra">

      <div class="conteinerCarritoDeCompra">
 
          <div class="contenidoCarritoDeCompra">

               <div class="detalleCarritoDeCompra">
                    <h3>Mi carrito:</h3>
                    
                   <div class="descripcionCarritoDeCompra">
                    <table>
                       <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Sub-Total</th>
                       </tr>
                       <tr> 
                        <td><img src="/img/anillo_relacionados.jpg" alt=""></td>
                        <td>$$$$</td>
                        <td>$$$$</td>
                        <td>$$$$</td>
                       </tr>
                    </table>
                  </div> 
               </div>

               <div class="chekoutCarritoDeCompra">

               </div>



          </div>         



      </div>


    </section>

    <%- include('partials/footer') %> 
    
</body>
</html>