<!DOCTYPE html>
<html lang="en">
<head>
  
    <%- include('partials/head') %> 
    <title>Detalle Producto</title>
</head>
<body>

    <%- include('partials/header') %>
    
    
    <section class="detalleProducto">

       <div class="containerDetalle">

          <div class="contenidoDetalle">
              
              <div class="fotoDetalle">
                  <img src="/img/anillo_relacionados.jpg" alt="">
              </div>
                  
              <div class="dataDetalle">
                    
                  <div class="dataContenido">
                      <h4>Titulo Producto</h4>
                  </div>

              </div>
          

          </div>

       </div>


    </section>



    <%- include('partials/footer') %> 

    
</body>
</html>