
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylePrueba.css">
    <title>Index</title>
</head>
<body>

    <header class="mainHeader">
       
        <div class="logo">
            <a href="/"><img src="img/Fashion_Logo.png" alt=""></a>
        </div>
        
        <nav>

          <div class="listaMenu">
                <ul>
                    <a href="/productos"><li>New In</li></a>
                    <li>Colecciones</li>
                    <li>Lifestyle</li>
                    <li>Sale</li>
                </ul>
          </div>

          
          <div class="iconosHeader">

            <div class="areaBusqueda">
                <div class="formularioSearch">
                    <form action="#" method="post">
                          <label for="busqueda" ></label>
                          <input type="text" name="busqueda" id="busqueda" placeholder="Buscar">
                </div>   
                
                <div class="submit"><i class="fa fa-search"></i></div>                
            </div>
 
            <div class="accesoUsuario">
                <a href="/usuarios/acceso"><i class="fas fa-user"></i></a>
            </div>

            <div class="accesoCarrito">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <div class="menuHamburgesa">
                <i class="fas fa-bars"></i>
            </div>

          </div>  

        </nav>
        
    </header>

    <section class="banner">
        
        <img src="img/aros_banner.JPG" alt="">
    </section>

    <main>

      <section class="relacionados">

            <h3>Nuestros favoritos</h3>

        <div class="articulosRelacionados">

          <% productosFavoritos.forEach(productosFavoritos => { %>
          
          <article class="articulo1">
            <img src="/img/<%= productosFavoritos.image %>" alt="">
            <h4 class="descripcion"><%= productosFavoritos.name %> </h4>
            <p class="precio">$ <%= productosFavoritos.price %> </p>  
          </article>  
        
           <% }) %> 

        </div>

      </section>

       <section class="colecciones">
        <br>
        <h3 id="tituloColecciones">Colecciones</h3><br>
        
        <div class="coleccionesItems">
            <div class="itemColeccion">
                <a href="/productos"> <img src="img/anillo_coleccion-01.jpg" alt=""> </a>
            </div>
            <div class="itemColeccion">
                <img src="img/collares_coleccion-01.jpg" alt="">
            </div>
            <div class="itemColeccion">
                <img src="img/pulsera_coleccion-01.jpg" alt="">
            </div>
            <div class="itemColeccion">
                <img src="img/anillo_coleccion-01.jpg" alt="">

            </div>
        </div>

       </section>


        <section class="envios">
           
          <div class="containerEnvios">
            <i class="fas fa-truck"></i>
           <div id="truck"> 
            <h5>Envios a todo el pais</h5><br>               
            <p>Retirá en tienda sin cargo o elegí envío a domicilio gratis a partir de $1.199.</p>
           </div>

           
            <i class="fas fa-exchange-alt"></i>
           <div id="cambios"> 
            <h5>Cambios y devoluciones</h5><br>                
            <p>Realizá cambios sin cargo por un año.</p>
           </div>

           
            <i class="fas fa-credit-card"></i>
           <div id="credit">
            <h5>Multiples medios de pago</h5><br>                
            <p>Pagá con Visa, Amex y Master en 3 y 6 cuotas sin interés.</p>
           </div>

        </div> 
          
        
        </section>

          
        <section class="mail_container">
          <div class="mail">  

            <i class="fas fa-envelope"></i>
           <div id="cursiva">
            <h3>Sigamos conectados</h3>
            <p>Recibi promociones y noticias antes que nadie:</p>
           </div> 

            
           <div class="formularioMail">
            <form action="/" method="POST">           
            <label for="mail"></label> 
            <input type="email" name="mail" id="mailing" placeholder="Dejanos tu email">
            <br>
            <button type="submit">Enviar</button>

            </form>
           </div>
          </div>
        </section>
           

    </main>
    
    <%- include('partials/footer') %>  
   

    
</body>

</html>