<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/stylePrueba.css">
    <title>Producto</title>
</head>
<body>
    <header class="mainHeader">
       
        <div class="logo">
            <img src="img/Fashion_Logo.png" alt="">
        </div>
        
        <nav>

          <div class="listaMenu">
                <ul>
                    <li>New In</li>
                    <li>Colecciones</li>
                    <li>Lifestyle</li>
                    <li>Sale</li>
                </ul>
          </div>

          
          <div class="iconosHeader">

            <div class="busqueda">
                <div class="form">
                    <form action="#" method="post">
                          <label for="busqueda" ></label>
                          <input type="text" name="busqueda" id="Busqueda" placeholder="Buscar">
                </div>   
                
                <div class="submit"><i class="fa fa-search"></i></div>                
            </div>
 
            <div class="accesoUsuario">
                <i class="fas fa-user"></i>
            </div>

            <div class="accesoCarrito">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <div class="menuHamburgesa">
                <i class="fas fa-bars"></i>
            </div>

          </div>  

        </nav>
        
    </header>

<main>
 
<section class="producto">
   
    <div class="productoVenta">
        <img src="img/anillo_relacionado.jpg" class="anilloProducto"></div>
        
        <div class="productoDescripcion">
        <h1 class="titulo"><b></b>ANILLO DE PODER</b></h1> <br>
        <h4>$48.000</h4> <br> <br>
        <p class="descripcionParrafo">
            <b>DESCRIPCIÓN:</b>
            <br>

            Anillo grande de metal tipo sello con centro esmaltado y 
            detalle en strass.
            <br>
            <br><br>

            <h3 class="talleProducto"><b>SELECCIONA TU TALLE</b></h3> <br>
            <h5 class= "small">SMALL</h5>
            <h5 class= "small">MEDIUM</h5>
            <h5 class= "small">LARGE</h5>
            <!-- <div class="iconoTalle">
            <div> -->
            <!-- <label> Small </label> <input type="radio" name="talle"> </div>
            <div>
            <label> Medium </label> <input type="radio" name="talle"> </div>
            <div>
            <label> Large </label> <input type="radio" name="talle"> </div>
            </div> -->
        </p>
        <br><br>

        <h1 class="comprarAhora">
            ¡COMPRAR AHORA! </h1>
            <br>
            <br>

            <h3 class="verCarrito"> 
            <i class="fas fa-cart-plus">
            </i> Ver Carrito</h3>
            
            <h3 class="buscarRelacionados"> 
                <i class="fas fa-search-plus"></i>
                Buscar productos relacionados</h3>
        </div>
        <div class="iconoCompartir">
            <i class="fas fa-share-alt"></i>
            
        </div>
          
    </div>

   </section>
   <section class="relacionados">

    <h3>Nuestros favoritos</h3>

 <div class="articulosRelacionados">

  <article class="articulo1">
    <img src="img/aros_relacionados.JPG" alt="">
    <h4 class="descripcion">Aros de plata</h4>
    <p class="precio">$14000</p>  
  </article>  

  <article class="articulo2">
    <img src="img/anillo_relacionado.JPG" alt="">
    <h4 class="descripcion">Anillo del Poder</h4>
    <p class="precio">$48000</p>  
  </article>

  <article class="articulo2">
    <img src="img/aros2_relacionados.JPG" alt="">
    <h4 class="descripcion">Aros combinados</h4>
    <p class="precio">$14000</p>  
  </article>

  <article class="articulo2">
    <img src="img/collares_relacionados.JPG" alt="">
    <h4 class="descripcion">Collar Decadron</h4>
    <p class="precio">$14000</p>  
  </article>
 
 </div>

</section>

    <footer>
    
</footer>


</main>
    
</body>
</html>