<section class="envios">
           
    <div class="containerEnvios">
      
      <i class="fas fa-truck"></i>
     <div id="truck"> 
      <h5>Envios a todo el pais</h5><br>               
      <p>Retirá en tienda sin cargo o elegí envío a domicilio gratis a partir de $1.199.</p>
     </div>

     
      <i class="fas fa-exchange-alt"></i>
     <div id="cambios"> 
      <h5>Cambios y devoluciones</h5><br>                
      <p>Realizá cambios sin cargo por un año.</p>
     </div>

     
      <i class="fas fa-credit-card"></i>
     <div id="credit">
      <h5>Multiples medios de pago</h5><br>                
      <p>Pagá con Visa, Amex y Master en 3 y 6 cuotas sin interés.</p>
     </div>

  </div> 
    
  
  </section>