<header class="mainHeader">
       
    <div class="logo">
        <a href="/"><img src="/img/Fashion_Logo.png" alt=""></a>
    </div>
    
    <nav>
        
      <div class="listaMenu">
            <ul>
                <a href="/productos"> <li>New In</li></a>    
              
              <div class="dropdown-header">  
                <a href="/productos"><li>Colecciones </li> </a>
                    <ul class="dropdown-header-content items-menu">
                        <a href="/productos"> <li>Collares</li></a>
                        <a href="/productos"><li>Aros</li></a>
                        <a href="/productos"><li>Pulsera</li></a>
                        <a href="/productos"><li>Anillos</li></a>
                    </ul>
              </div>
           
                <a href="/productos"><li>Lifestyle</li></a>
                <a href="/productos"><li>Sale</li></a>
            </ul>
      </div>

      
      <div class="iconosHeader">

        <div class="areaBusqueda">
            <div class="formularioSearch">
                <form action="#" method="post">
                      <label for="busqueda" ></label>
                      <input type="text" name="busqueda" id="busqueda" placeholder="Buscar">
            </div>   
            
            <div class="submit"><i class="fa fa-search"></i></div>                
        
        </div>

        <% if(locals.isLogged) {%>
            <div class="dropdown-header usuario_logueado">
              <p class="nombre-usuario">Hola <%= locals.userLogged.first_name %></p>
              <ul class="dropdown-header-content">
                  <a  href="/usuarios/acceso/perfil"><li>Perfil</li></a>
                  <a  href="/usuarios/logout/"> <li>Log Out</li></a>
              </ul>
            </div>
        <% } %>

        <div class="accesoUsuario">
            <a href="/usuarios/acceso"><i class="fas fa-user"></i></a>
        </div>

        <div class="accesoCarrito">
            <a href="/productos/CarritoProducto"><i class="fas fa-shopping-cart"></i></a>
        </div>

        <div class="menuHamburgesa ">

          <div class="dropdown-header">
            <i class="fas fa-bars"></i>
            
            <ul class="dropdown-header-content dropdown-burger">
                <a href="/productos"><li>Productos</li></a>
                
              <% if(locals.isLogged) { %>
                  <%= console.log(locals.userLogged)  %> 
                  <li class="usuario_logueado_burger">Hola <%= locals.userLogged.first_name %> - Tu perfil</li>
              <% } else { %>
                <a href="/usuarios/acceso"><li class="item-burger-menu">Acceso Usuario</li></a>
              <%  } %>
              
              <!-- <a href="/usuarios/acceso"><li class="item-burger-menu">Acceso Usuario</li></a> -->
            </ul>
          </div>

        </div>

      </div>  

    </nav>
    
</header>