<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylePrueba.css">
    <title>Acceso Usuario</title>
</head>
<body>

    <%- include('partials/header') %>

    <main>
    <section class="login">
       
    <div class="login_container">

    <div class="usuario_existente">
          
        <div class="cuestionario">
           
           <div class="tituloCuestionario"> 
            <i class="fas fa-user userCuestionario"></i>
            <h3 id="h3Cuestionario">Ya tengo una cuenta!.</h3>
           </div> 

           <p>Ingresa tu mail y contraseña:</p> <br>

          <form id="formularioUsuarioExistente" action="/" method="post">

               <label for="email">Correo Electronico:</label><br>
               <input type="email" name="email" id="email" placeholder="Ej.:nombre@mail.com">
               <br>   

               <label for="password">Ingrese su contraseña:</label><br>
               <input type="password" name="password" id="password"placeholder="Ingrese su contraseña">
               <br>
               
               <label for="recordar"> 
                <input type="checkbox" name="remember_user" id="recordar">Recordar mi usuario
               </label>

               <button type="submit" id="botonCuestionario">CONTINUAR</button>
           </form>

          </div>

        </div>

        <div class="new_user">

            <div class="cuestionario">
             
             <div class="tituloCuestionarioUsuario">    
              <i class="fas fa-smile-wink"></i>
              <h3 id="h3Cuestionario">Crear cuenta!.</h3>
             </div>

              <p>Mira todo lo que podes hacer:</p>
              <br>

              <ul class="listaNuevoUsuario">
                  <li>Compra mas rapido</li>
                  <li>Guarda direcciones de envio</li>
                  <li>Seguimiento de tus compras y revisar tus pedidos</li>
                  <li>Hace una lista de tus productos preferidos</li>
              </ul>
              
        
              <br>
    
                <button type="submit" id="botonCrearCuenta"><a href="/usuarios/acceso/nuevoUsuario"> CREAR CUENTA </a></button>


            </div>

        </div>
    </div>  
    </section>

    <section class="envios">
           
        <div class="containerEnvios">
          <i class="fas fa-truck"></i>
         <div id="truck"> 
          <h5>Envios a todo el pais</h5><br>               
          <p>Retirá en tienda sin cargo o elegí envío a domicilio gratis a partir de $1.199.</p>
         </div>

         
          <i class="fas fa-exchange-alt"></i>
         <div id="cambios"> 
          <h5>Cambios y devoluciones</h5><br>                
          <p>Realizá cambios sin cargo por un año.</p>
         </div>

         
          <i class="fas fa-credit-card"></i>
         <div id="credit">
          <h5>Multiples medios de pago</h5><br>                
          <p>Pagá con Visa, Amex y Master en 3 y 6 cuotas sin interés.</p>
         </div>

      </div> 
        
      
    </section>
    </main>

    <footer></footer>

</body>
</html>