<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %> 
<title>Crear Producto</title>

<body>
    
    <%- include('partials/header') %>
    
    <main>
      
        <section class="crearProducto">
       
          <div class="crearProducto_container">
        
            <div class="crearProducto_contenido">
                  
              <div class="tituloNuevaCuenta"> 
              <i class="fas fa-magic"></i>
              <h3 id="h3CrearProducto">Crear Producto:</h3>
              </div> 
              
              <div class="cuestionarioCrearProducto">
                
                <form action="/productos/crear" method="POST" enctype="multipart/form-data">
                   
                    <div class="datosProductos">
                    
                      <p><strong>Ingrese los datos del Producto:</strong></p><br> 
      
                        <label for="nombre">Nombre: </label><br>
                        <input type="text" name="name" id="name" placeholder="Aros de oro" required>
                        <br>
                        <label for="apellido">Precio:</label><br>
                        <input type="text" name="price" id="price" placeholder="3000" required>
                        <br>
                        <p>Seleccione Categoría:</p> <br>
                        <label for="categoria">General</label>
                        <input type="checkbox" name="category" id="general" value="general">
                        <label for="categoria">Destacado</label>
                        <input type="checkbox" name="category" id="destacado" value="destacado">
                  
                    </div>
             
                    <div class="datosProductos2">

                      <p><strong>Mas datos</strong></p><br>

                      <label for="textarea">Descripcion:</label><br>
                      <input type="textarea" name="description" id="description" placeholder="Descripcion del Producto" required>
                      <br>

                      <p>Seleccione talle:</p> <br>
                      
                      <div class="seleccionTalle">
                      <label for="talle">S</label>
                      <input type="radio" name="talle" value="s">
                      <label for="talle">M</label>
                      <input type="radio" name="talle" value="m">
                      <label for="talle">L</label>
                      <input type="radio" name="talle" value="l">
                      <label for="talle">Sin talle</label>
                      <input type="radio" name="talle" value="st"> 
                      </div>
                      <br>

                      <label for="image">Foto Producto</label><br>
                      <input type="file" name="image">
                    </div>
                  
                    <button type="submit" id="botonNuevaCuenta">CREAR PRODUCTO</button>
              
                </form>

              </div>

       </section>     
    

    <%- include('partials/footer') %> 
     
</body>



</html>