<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>

    <%- include('partials/header') %>

   
    
         <% rol.forEach(rol => { %>
          
            <h1><%= rol.role %> </h1> 
           
    
          
             <% }) %>  
       


</body>
</html>