<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>

    <%- include('partials/header') %>

   
    
         <% category.forEach(category => { %>
          
            <h1><%= category.category %> </h1> 
           
    
          
             <% }) %>  
       


</body>
</html>