
/*--byzantium: #7a3b69ff;
--eggplant: #563440ff;
--misty-rose: #f8e6e3ff;
--turquoise-green: #91c7b1ff;
--dodger-blue: #1098f7ff;
6D98BA
82A7A6*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Manrope','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    font-size: 18px;
    color:#563440ff ;
    background-color: white;
}

h3{
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: normal;
    
}

a {
   text-decoration: none;  
   color: inherit;  
   display: inline-block;
   
}

/*header*/

header {
    width: 100%;
    background-color: #F8E6E3;
    /*max-height: 10%;*/
    padding: 5px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    margin-top: 0px;       
}

header .logo{
    width: 15%;       
    margin-left: 5%;
  }

.logo img {
    width: 100%;
    
}


nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: auto;     
}

header nav ul {
    width: 100%;
    list-style-type: none;  
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5%;
    align-items: left;
    
}

header nav ul li{
    margin-right: 10px;   
    margin-left: 10px;    
}

.iconosHeader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;     
    width: 40% ;
       
}

.areaBusqueda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 65%;
    
}

.formularioSearch{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 65%;
}

#busqueda {
    width: 100% ;
    height: 25px;
    font-family: manrope;
    border: 2px dotted #F8E6E3;    
}

.fa-search{
    font-size: 25px;
    width: 30%;
}
 
.fa-user{
   font-size: 25px;
   margin-left: 30%;
      
}

.fa-shopping-cart{
   font-size: 25px;
   margin-left: 30%;    
}

.fa-bars{
    display: none;
    font-size: 25px;
    margin-left: 20px;
   
}

/*finheader*/

/*banner index*/

.banner{
    width: 98%;
    height: 350px;
  
    margin: auto;
    background-color: rgb(252, 252, 252);
    
}


.banner img{
    width: 100%;
    height: 350px;
}  

/* finbanner*/

/*articulos relacionados*/

.relacionados{
    margin-top: 1%;
    width: 100%;
    background-color: #f6caff;
    padding: 5px;
    
}

.articulosRelacionados{
    margin-top: 5px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
        
}

article{
    text-align: center;
    width: 22%; 
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;

}    


.relacionados img{
    width: 100% ;
    height: 70%;
}

.descripcion {
    width:100%;
    text-align: center;
    
}

.precio{
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

/*fin articulos relacionados*/

/*inicio colecciones index*/

.colecciones{
    width: 100%;
    background-color: #fff6f5;
    border-radius: 5%;
    margin-top: 15px;
    
}

#tituloColecciones{
    margin-top: 10px;
}
.coleccionesItems{

    margin: auto;
    width: 90%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
       
}

.coleccionesItems a {
    width: 100%;
}

.itemColeccion {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
    position: relative;
}


.itemColeccion img {
    width: 100%;
    
}

/*fin colecciones index*/

/*iconos envios tarjeta*/

.envios {
    background-color: #F8E6E3;
    
}

.containerEnvios{
    width: 95%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 25px;
    background-color: #F8E6E3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 18px;
    padding: 20px;
    
}

h5, .envios{
    font-size: 16px;   
    
}
p, .envios{
    font-size: 14px;
}

.fa-truck, .fa-exchange-alt, .fa-credit-card{
    font-size: 26px;
    width: 5%;
    text-align: center;
    margin-left: 1%;
        
}


#truck{
   width: 25%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin-left: 0px;
    
}

#cambios{
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 5px;  
}

#credit {  
  width: 25%; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 5px; 
}

/*fin iconos*/

/*mailing index*/

.mail_container{
    background-color: #F8E6E3 ;
    margin-top: 0px;
}

.mail{
    margin-top: 0px; 
    width: 90%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 50%;
    padding: 5% ;
    
}

.fa-envelope{
    margin-top: 15px;
    text-align: center;
    font-size: 100px;
    color: #91c7b1ff;
}

#cursiva {
    font-family: cedarville cursive;
    font-size: 35px;
    text-align: center;
}

p, .mail{
    font-family: manrope; 
    margin-top: 10px;
}

.formularioMail {
    text-align: center;
    margin-top: 15px;
}

#mailing{
    width: 30%;
    height: 30px;
    border: none;
    font-family: manrope;
    padding: 5px;
    text-align: center;
    border: 1px dotted grey;
}

button{
    width: 15%;
    margin-top: 20px;
    font-family: manrope;
    padding: 10px;
    background-color: #91c7b1ff;
}

/*fin mailing index*/

/**/

/*accesoUsuario login*/

.login{
    background-color: white;
}

.login_container{
    width: 90%;
    background-color: #F8E6E3;
    display: flex;
    flex-wrap: wrap;
    flex: row;
    margin: auto;
    justify-content: center;
    margin-top: 2%;
}

.usuario_existente {
    width: 45%;
    margin-left: 0%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;  
    
}

.new_user {
    width: 45%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;  
   
}

.cuestionario{
    
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 3%;
    
       
}

.tituloCuestionario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;  
    width: 100%;
    margin-left: 0%;
    margin: auto;
    margin-top: 8%;
  
}

.tituloCuestionarioUsuario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    
    width: 100%;
    margin-left: 0%;
    margin: auto;
    margin-top: 10%;  
}

.userCuestionario{
    
    font-size: 40px;
    text-align: left;
    width: 10%;
    margin-left: 0px;
    color: #91c7b1ff;
}

.fa-smile-wink{
  
    font-size: 40px;
    text-align: left;
    width: 10%;
    margin-left: 0px;
    color: #91c7b1ff;
}

#h3Cuestionario{
    
    margin-top: 0px;
    width: 80%;
    margin-left: 2%;
}

#formularioUsuarioExistente{  
    margin-top: 40px;
}

#botonCuestionario {
    width: 50%;
    height: 30px;
    margin-left: 25%;
    text-align: center;
    padding: 5px;
   
}

#botonCrearCuenta {
    width: 50%;
    height: 30px;
    margin-left: 25%;
    text-align: center;
    padding: 5px;
    
}

.listaNuevoUsuario {
    font-size: 16px;

}
/*fin acceso usuario login*/

/*inicio nuevo usuario login */

.loginNuevoUsuario{
    background-color: white;
}

.loginNuevoUsuario_container{
    width: 80%;
    background-color: #F8E6E3;
    display: flex;
    flex-wrap: wrap;
    flex: row;
    margin: auto;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-danger{
    font-size: 12px;
    color:red;
}

.nuevaCuenta_contenido{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 3%;
     
}

.tituloNuevaCuenta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;  
    width: 100%;
    margin-left: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
  
}

.fa-magic{
    font-size: 40px;
    text-align: left;
    width: 5%;
    margin-left: 0px;
    margin-top: 1%;
    color: #91c7b1ff;
  
}

#h3CrearCuenta{
    width: 70%;
    margin-left: 5%;
    font-size: 22px;
    
    text-align: left;
    margin-top: 1%;
}

.cuestionarioNuevaCuenta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    
}

.datosPersonalesCuestionario{
    width: 45%;
    
}

.informacionPassword{
    width: 45%;
    
}

#nombre, #apellido, #dni, #emailcuenta, #passwordcuenta{
    width: 80%;
}

#botonNuevaCuenta{
    width: 40%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding: 5px;
    margin-top: 5%;
    margin-left: 30%;
}

/*fin nuevo usuario*/

<<<<<<< HEAD
/* inicio*/
=======
/*D inicio perfil usuario*/


#h3CuestionarioD{
    
    margin-top: 0px;
    width: 80%;
    margin-left: 10%;
}

.cuestionarioD{
    
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 3%;
    
       
}

.tituloCuestionario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;  
    width: 100%;
    margin-left: 0%;
    margin: auto;
    margin-top: 8%;
  
}


/*D fin perfil usuario*/
>>>>>>> 708ee206ccc6905cfc79a075058612b71931eb42


/*inicio crear producto */

.crearProducto{
    background-color: white;
}

.crearProducto_container{
    width: 80%;
    background-color: #F8E6E3;

    display: flex;
    flex-wrap: wrap;
    flex: row;
    margin: auto;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.crearProducto_contenido{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 3%;
     
}

.tituloNuevaCuenta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;  
    width: 100%;
    margin-left: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
  
}

.fa-magic{
    font-size: 40px;
    text-align: left;
    width: 5%;
    margin-left: 0px;
    margin-top: 1%;
    color: #91c7b1ff;
  
}

#h3CrearProducto {
    width: 70%;
    margin-left: 5%;
    font-size: 22px;    
    text-align: left;
    margin-top: 1%;
}

.cuestionarioCrearProducto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    
}


.datosProductos{
    width: 45%;
    
}

.datosProductos2{
    width: 45%;
}

#name, #price, #id, #descripcion, #passwordcuenta{
    width: 80%;
}

.seleccionTalle{
    margin-top: 0px;
}

#botonNuevaCuenta{
    width: 40%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding: 5px;
    margin-top: 5%;
    margin-left: 30%;
}

/*inicio editar formulario*/


.editarProducto{
    background-color: white;
}

.editarProducto_container{
    width: 80%;
    background-color: #F8E6E3;
    display: flex;
    flex-wrap: wrap;
    flex: row;
    margin: auto;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.editarProducto_contenido{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 3%;
     
}

.cuestionarioEditarProducto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    
}

.datosEditarProductos{
    width: 45%;
    
}

.datosProductos2{
    width: 45%;
}

#name, #price, #id, #descripcion, #passwordcuenta{
    width: 80%;
}

.seleccionTalle{
    margin-top: 0px;
}

#botonNuevaCuenta{
    width: 40%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding: 5px;
    margin-top: 5%;
    margin-left: 30%;
}

/*fin editar formulario*/

/*inicio listado general de producto*/

.containerProductos {
    width: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.contenidoProductos {
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  

}

.contenidoProductos h3 {
    width: 100%;
}
.filtroProductos{
    width: 20%;;
     
    margin-top: 1%; 
}

.listadoProductos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.articuloProductos{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}



/*.articuloProductos a{
    width: 100%;
}*/
.articuloProductos img{
    width: 100%;
    
}

.tituloPrecioProducto{
    text-align: center;
    background-color: #f8e6e3ff;
    padding: 5px;
    width: 100%;
}

/*fin listado general de productos/*

/*inicio detalle producto*/

.containerDetalle{
    width: 100%;
    margin-top: 3%;
}

.contenidoDetalle{
    width: 80%;
    margin: auto;
    background-color: #f8e6e3ff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.fotoDetalle{
   width: 50%;
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   flex-wrap: wrap;
   height: 600px;
   background-color: white;
 
}

.fotoDetalle img{
    width: 100%;
    height: 100%;
}

.dataDetalle{
  width: 50%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 
}

.contenidoDetalleProducto{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 border-right: 1px solid #f8e6e3ff;
  padding-left: 3%;
  margin-top: 0px;

}

.contenidoDetalleProducto h2{
    font-weight: bold;
    
}

.contenidoDetalleProducto h4{
   font-weight: normal;
}   


.tituloDetalleProducto{
    margin-top: 0px;
}

.descripcionDetalleProducto{
  margin-top: 13%;  
  flex-wrap: wrap;
}

.talleDetalleProducto{
  margin-top: 5%;

}

.botonDetalleProducto{
    background-color: #F8E6E3;
    margin-left: 22%;
    text-align: center;
    width: 35%;
    font-size: 1.2rem;      
}
.botonAdminDetalleProducto{
    background-color: #F8E6E3;  
    width: 35%;
    font-size: 1.2rem;      
}




/*fin detalle producto*/


/*inicio carrito*/

.conteinerCarritoDeCompras{
    width: 100%;
    
}

.contenidoCarritoDeCompra {
    width: 95%;
    margin: auto;
    background-color: #F8E6E3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}

.detalleCarritoDeCompra{
    width: 70%;
    background-color: white;
    border: 1px solid #F8E6E3;
    padding-bottom: 5%;
}

.checkoutCarritoDeCompra{
    width: 30%;
    background-color: white;
    border: 30px solid #F8E6E3;
}

.detalleCarritoDeCompra h3{
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.descripcionCarritoDeCompra{
    width: 80%;
    margin: auto;
    
}

table {
    width: 100%;
    display: flex;
    flex-direction: row;
}

table, th, td {
        border: 1px solid rgb(180, 180, 180);
        border-collapse: collapse;
        text-align: center;
        padding: 2px;
        font-weight: normal;
}

th{
 width: 25%;
}

table img {
    width: 40%;
}

.contenidocheckoutCarritoDeCompra{
    margin-top: 20%;

}
#botonComprarCarrito{
    background-color: #F8E6E3;
    width: 40%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding: 5px;
    margin-top: 5%;
    margin-left: 30%;
}


/*fin carrito*/

/*inicio footer*/

footer{
    background-color: rgb(122, 120, 120);
}

.footerContainer{
    width: 95%;
    margin: auto;
    background-color: rgb(122, 120, 120);
    color: #F8E6E3;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  
}



.footerSecciones{
    width:30%;
    margin-top: 2%; 
    margin-left: 8%;
}

.footerColecciones{
    width: 30%; 
    margin-top: 2%;
    margin-left: 1%;
    
}

.footerLogosRedes{
    width: 20%;
    margin-top: 2%;
    
}

.footerListas {
    list-style: none;
}

.fa-facebook-square{
    font-size: 55px;
}

.fa-instagram{
    font-size: 55px;
   
}

/*fin footer*/

/*-------------media tablet----------*/

@media (max-width: 780px) {
  
/*header tablet*/

nav{
    width: 60%;
    margin-left: 15%;
    justify-content: flex-end;
}


header .logo{
    width: 20%;       
    margin-left: 3%;
  }

.listaMenu{
    display: none;
}

.iconosHeader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    width: 100% ;
    margin-right: 0%;      
}

.areaBusqueda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 65%;    
}

.formularioSearch{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 35%;
}

#busqueda {
    width: 100% ;
    height: 25px;
    font-family: manrope;
    border: 2px dotted #F8E6E3;    
}

.fa-search{
    font-size: 20px;
    width: 30%;
}
 
.fa-user{
   font-size: 20px;
   margin-left: 30%;
      
}

.fa-shopping-cart{
   font-size: 20px;
   margin-left: 30%;    
}

.fa-bars{
    display: none;
    font-size: 20px;
    margin-left: 20px;
}

.fa-bars{
    display: inline-block;
}


/*iconos envios*/

.containerEnvios{ 
    flex-direction: column;
}

#truck{
    width: 90%;    
 }

 #cambios{
    width: 90%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5px;  
}
  
  #credit {  
    width: 90%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5px;  
    
}
  
  .fa-truck, .fa-exchange-alt, .fa-credit-card{
    margin-top: 3%; 
    
    margin-left: 5px;

}

/*cuestionario login*/


.login_container{
    width: 100%;
    background-color: #F8E6E3;
    display: flex;
    flex-wrap: wrap;
    flex: column;
    
}

.usuario_existente {
    width: 95%;
    margin-top: 4%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;      
}

.new_user {
    width: 95%;
    margin-top: 4%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 0px;
   
}

.tituloCuestionario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-left: 0%;
    margin: auto;
    margin-top: 10%;  
}

.tituloCuestionarioUsuario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-left: 0%;
    margin: auto;
    margin-top: 10%;  
}

.userCuestionario{
    
    font-size: 40px;
    text-align: left;
    width: 10%;
    margin-left: 0px;
    color: #91c7b1ff;
}

.fa-smile-wink{
    
    font-size: 40px;
    text-align: left;
    width: 10%;
    margin-left: 0px;
    color: #91c7b1ff;
}

#h3Cuestionario{
   
    margin-top: 0px;
    width: 70%;
    margin-left: 2%;
}
/*fin cuestionario login*/
/*inicio nueva cuenta*/

.loginNuevoUsuario_container{
    width: 95%;
}

.datosPersonalesCuestionario{
   width: 100%;
}

.informacionPassword {
    width: 100%;
    margin-top: 3%;
}

/*vista productos generales*/

.contenidoProductos{
    width: 100%;
}
.listadoProductos{
    width: 85%;
    margin: auto;
}

.articuloProductos {
    width: 45%;
    
    border: 1px salmon solid;
}
/*fin vista general productos tablet*/    
/*inicio detalle producto*/
.contenidoDetalle{
    width: 100%;
}

/*fin detalle producto*/

}


/*--------media celular-------*/

@media (max-width: 380px){

    /*header celular*/
    
    nav {
        width: 25%;
        margin-left: 23%;
        
        /*justify-content: flex-end;*/
    
    }
    
    header .logo{
        width: 40%;       
        margin-left: 5%;
      }
    
   
    .areaBusqueda{
        display: none;
    }
    
    .formularioSearch{
        display: none;
    }
    
    #busqueda {
        display: none;   
    }
    
    .fa-search{
        display: none;
    }
     
    .fa-user{
       font-size: 25px;
       margin-left: 20%;      
    }
    
    .fa-shopping-cart{
       font-size: 25px;
       margin-left: 10%;    
    }
    
    
    .fa-bars{
        display: inline-block;
        font-size: 25px;
        margin-left: 35%;
    }
    
    /*header celular*/ 
    
    /*banner*/
    
    
    /*relacionados*/
        
        .articulosRelacionados{
          width: 98%;
        
        }
        article{
          width: 98%;  
        }
    
    /*colecciones*/    
        
        .coleccionesItems{
            width: 98%;
        }
    
        .itemColeccion{
            width: 98%;
            margin: auto;
        }
    
    /*iconos envios*/  
    
    /*login*/
    
.usuario_existente {
    width: 100%;
        
}

.new_user {
    width: 100%;
     
}

.userCuestionario{  
    font-size: 40px;
    text-align: left;
    width: 10%;
    margin-left: 0px;
    color: #91c7b1ff;
}


#h3Cuestionario{    
    margin-top: 0px;
    width: 70%;
    margin-left: 2%;
}
/*fin cuestionario login*/
/*inicio nuevo usuario*/


.loginNuevoUsuario_container{
    width: 100%;
}

.datosPersonalesCuestionario{
   width: 100%;
}
/*fin nueva cuenta*/

/*inicio vista general productos*/
.listadoProductos{
    width: 98%;
    margin: auto;
}

.articuloProductos{
    width: 100%;
}
/*fin vista general productos*/

/*inicio detalle producto*/

.fotoDetalle{
    width: 100%;
}

.dataDetalle{
    margin-top: 3%;
    border-right: none ;
    width: 100%;
}

/*footerCelular*/

.footerContainer{
   flex-direction: column;
   width: 100%;
}


.footerSecciones{
    width:30%;
    margin-left: 2%;
}

.footerColecciones{
    width: 30%; 
    margin-top: 4%;
    margin-left: 2%;
    
}

.footerLogosRedes{
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    
}

.footerListas {
    list-style: none;
}

.fa-facebook-square{
    font-size: 55px;
}

.fa-instagram{
    font-size: 55px;
   
}

}




/*iconos envios*/

/* 
} 
.product-sail{
  display: block */
  
        


.product-sail{
    width: 30%;
    box-sizing: border-box;

}

.product-description{
    width: 50%;
    box-sizing: border-box;
}

.producto{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
}

.productoVenta{
    width: 42%; 
    /* height: none; */
    padding: 20px 0px 20px 60px; 
    margin: 20px; 
}
.anilloProducto{
    width: 100%;


}
/* .titulo { */
    /* color: black; */
/* } */
.productoDescripcion{
width: 40%;
padding: 20px 30px 20px 10px;
text-align: left;
font-size: 25px;
margin: 30px;
position: relative;
background-color: none;
}
.descripcionParrafo{ 
  
  padding: 10px 5px 10px ;
  max-height: fit-content;
  font-size: 14px;
}

.iconoTalle{
    list-style-type: none;  
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 14px;

}
.small{
    display: block;
    max-width: fit-content;
    border-radius: 12%;
    background-color: rgb(82, 79, 79);
    border-color: gray;
    color: rgb(253, 253, 253);
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: blanchedalmond;
    font-size: 11px;
}
.talleProducto{
    text-align: left;
    font-size: 15px;
}

.comprarAhora{
    color: whitesmoke;
    text-align: left;
    background-color: rgb(32, 30, 30);
    display: block;
    max-width:fit-content;
    margin-left: 5px;
    border-radius: 5px;
    /* font-size: px; */

}
.verCarrito{
    text-align: left;
    font-size: 14px;

}
.buscarRelacionados{
    text-align: left;
    font-size: 14px;
}
.fa-share-alt{
    font-size: 40px;
    text-align: right;
}
.iconoCompartir{
    margin-top: 50px;
    margin-right: 40px;
}
/* ACA VA EL FOOTER */



