<footer>
    <div class="footerContainer">
      
        <div class="footerSecciones">
            <h4>Secciones</h4> <br>
            <ul class="footerListas">
                 <li>New In</li>
                 <li>Colecciones</li>
                 <li>Lifestyle</li>
                 <li>Sale</li>
            </ul>
        </div>    

        <div class="footerColecciones">
            <h4>Colecciones</h4> <br>
             <ul class="footerListas">
                 <li>Pulseras</li>
                 <li>Anillos</li>
                 <li>Cadenas</li>
                 <li>Aros</li>
             </ul>
        </div>
        <div class="footerLogosRedes">
            <h4>Seguinos</h4> <br>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
        </div> 
          
    </div>

    </div>
</footer>
